
        /* .parent{
            width:100%        

        }
        img{
            width: 500px;
            height: auto;
        }
        .daughter{
            width:50%;
            float:right;
        }
        p{
            color:black;
            
        }
        .son{
            width:50%;
            float:left;
        } */
/*responsive design*/

/*mobile*/
@media (min-width:320px) and (max-width:480px){
    .parent{
        width:100%;
        background-color: aquamarine;
    }
    img{
        width:300px;
        height: auto;
    }
    .daughter{

    }
    .son{
        
    }
        }
/*tablet*/
@media (min-width:481px) and (max-width:1201px){
    h1{
        text-align: center;
    }

    .parent{
        width:100%;
        background-color:blue;
    }
    img{
        width:300px;
        height: auto;
        display:block;
        margin:auto;
    }
    .daughter{
        
    }
    
    .son{
        
    }
}
/*laptop*/
@media (min-width:769px) and (max-width:1024px){ 
    h1{
        text-align: center;
    }

    .parent{
        width:100%;
        background-color:darkcyan;
    }
    img{
        width:300px;
        height: auto;
        display:block;
        margin:auto;
    }
    .daughter{
        
    }
    
    .son{
        
    }

}